body {
  background: #fffdfb;
  color: #222;
  font-family: "Karla";
  width: 100vw;
}

@media(max-width: 500px) {
  body {
    font-size: 0.75em;
  }
}

a {
  color: #838383;
  text-decoration: underline;
}

p {
  line-height: 1.4em;
}

p a:hover {
  background-color: #358182;
  color: #fffdfb;
}

ul {
  padding-inline-start: 0em;
}

.layout {
  margin: 3rem auto;
  max-width: 65vw;
}

@media(max-width: 800px) {
  .layout {
    margin: 1 2rem;
    max-width: 85vw;
  }
}

.subnav {
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted #bbbbbb;
}
