body {
  background: #fffdfb;
  color: #222;
  font-family: "Karla";
  width: 100vw;
}

a {
  color: #838383;
  text-decoration: underline;
}

p a:hover {
  background-color: #358182;
  color: #fffdfb;
}

.layout {
  margin: 3rem auto;
  max-width: 70vw;
}

@media(max-width: 600px) {
  .layout {
    margin: 1 2rem;
    max-width: 90vw;
  }
}